.barra {
    width: 25%;
    display: inline-block;
    position: relative;
    height: 100%;
    bottom: 9px;
}

#barra-colorata {
    background-color: #dcdcdc;
    height: 9px;
    position: relative;
}

.riquadro {
    padding: 2rem 2rem;
    background-color: #F8F9FA;

    border-radius: .3rem;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
    max-width: 600px;
}

.riquadro-2 {
    padding: 2rem 2rem;
    background-color: #F8F9FA;
    border-radius: .3rem;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
    max-width: 400px;
}

.riquadro-3 {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}

@media (min-width: 576px) {
    .riquadro-3 {
        padding: 4rem 2rem;
    }
}



/* Transizione sfondo home */

.sezlinguaggi {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    background-color: #FFFFFF;

}

header {

    padding-top: 0.5rem;
}

.footer-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media screen and (max-width: 992px) {
    .footer-2 {
        padding-top: 2rem;
        padding-bottom: 1rem;

    }
}


/* Sezione icone-pulsanti blu*/

.sezione-icone-pulsanti {

    background-image: linear-gradient(#a2d5f2, white);

}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.bullet {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.bullet-icone {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #fff;
    border-radius: .75rem;
}

.bullet-paragrafo {
    display: none;
    font-size: 1.1rem;

}

/*Sezione icone rosse */
.riquadroIcone {
    padding-top: 3rem;
    padding-bottom: 3rem;

}

.iconeContatore {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    font-size: 5rem;
    color: #F76C5E;

    align-self: flex-end;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
    animation-name: rimbalza;
    animation-timing-function: ease;

}

@keyframes rimbalza {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}


.contatore {
    font-size: 2rem;

}

/*sezione linguaggi*/


.titoli-sezioni {
    font-weight: 300;
    line-height: 1;
}


@media (min-width: 40em) {


    .titoli-sezioni {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .titoli-sezioni {
        margin-top: 7rem;
    }
}


/* Navbar laterale*/

.barradinavigazione {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    overflow-x: auto;
    overflow-y: hidden;
}

.barradinavigazione>* {
    flex-shrink: 0;
    min-height: -webkit-fill-available;
}